$PRIMARY_COLOR: #0066CC;
$PRIMARY_DARK_COLOR: #0055AA;
$GRAY_LIGHT: #CCC;
$GRAY_KINDA_LIGHT: #DDD;
$GRAY_ALT_LIGHT: #ECECEC;
$GRAY_ALT_ALT_LIGHT: #C2CBDO;
$GRAY_VERY_LIGHT: #F8F8F8;
$WHITE: #FFF;
$GREEN_LIGHT: #98FB98;

$LIGHT_RED: #F00;
$LIGHTER_RED: #ff4c4c;
$BLACK: #000;