@import '../../styles/color';
@import '../../styles/font';

app-decision-view {
    height: calc(100vh - 3rem);
    width: 100%;
    display: flex;
    align-items: center;
}
.main-loader {
    height: 100%;
    position: absolute;
    top: 3rem;
    z-index:-1;
}
.spiderchart {
    display: flex;
    flex-direction: column;
    height: 100%;
    .title {
        display: inline-block;
        font-size: $FONT_SIZE_LARGE;
        color: $PRIMARY_COLOR;
        margin: 2rem 0 0 2rem;
        font-weight: 600;
    }
}
.sidebar {
    width: 40%;
    height: 100%;
    z-index: 10;
    overflow-y: auto;
    display: inline-block;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    background-color: $GRAY_VERY_LIGHT;
    .comparison-name {
        font-weight: 600;
        font-size: $FONT_SIZE_DEFAULT;
        font-weight: 600;
        padding-left: 1rem;
    }
    .add-feature-button {
        font-size: 1.8rem;
        padding-right: 1rem;
        display: inline-block;
        &:hover {
            cursor: pointer;
            color: $GRAY_LIGHT;
        }
    }
}