@import '../../styles/font';
@import '../../styles/color';
@import '../../styles/common';

.feature {
    .header {
        background-color: $WHITE;
        .input-group {
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 1rem;
            #title {
                height: 1.6rem;
                margin-left: 1rem;
                font-size: $FONT_SIZE_DEFAULT;
                border-radius: 5px;
                border: 1px solid $GRAY_LIGHT;
                padding: 4px 6px 4px 6px;
            }
        }
        .title {
            margin-left: 1rem;
            display: flex;
            align-items: center;
            .text {
                margin-left: 6px;
            }
        }
        .actions {
            display: flex;
            align-items: center;
            width: 30%;
            justify-content: flex-end;
            .submit {
                color: $PRIMARY_COLOR;
                font-size: $FONT_SIZE_SMALL;
                padding-right: 3px;
            }
            .gray-divider {
                height: 1.8rem;
                background-color: $GRAY_VERY_LIGHT;
                width: 3px;
                display: inline-block;
            }
        }
        .hide {
            display: flex;
            height: 1.6rem;
            width: 6rem;
            align-items: center;
            justify-content: space-evenly;
            .gray-divider {
                height: 1.8rem;
                background-color: $GRAY_VERY_LIGHT;
                width: 3px;
                display: inline-block;
            }
            .eye {
                display: inline-block;
                width: 24px;
                height: 14px;
                &:hover {
                    cursor: pointer;
                }
                &.gray {
                    background-image: url("assets/icons/eye.png");
                }
                &.blue {
                    background-image: url("assets/icons/eye-blue.png");
                }
            }
            .icon-down {
                background-image: url("assets/icons/icon-down-arrow.svg");
                display: inline-block;
                width: 12px;
                height: 7px;
                &.down {
                    transform: rotate(180deg);
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .color {
            display: inline-block;
            height: 2rem;
            width: 12px;
        }
    }
}

@keyframes slideOut {
    from {
        height: 15rem;
    }
    to {
        height: 0;
    }
}
@keyframes slideIn {
    from {
        height: 0;
    }
    to {
        height: 15rem;
    }
}

.questions {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid $GRAY_LIGHT;
    padding: 12px 0 12px 0;
    &.open {
        animation-name: slideIn;
        animation-duration: 1s;
        height: 15rem;
    }
    &.close {
        animation-name: slideOut;
        animation-duration: 1s;
        height: 0;
        padding: 0;
    }
    .shroud {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: $BLACK;
        opacity: .05;
    }
    .question {
        height: 3rem;
        border-bottom: 1px solid $GRAY_LIGHT;
        .factor-form {
            display: flex;
            height: 100%;
            flex-direction: row;
            .title {
                flex: 1;
                padding-left: 1rem;
                font-size: $FONT_SIZE_DEFAULT;
                display: flex;
                align-items: center;
                font-weight: 200;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .input-group {
                display: flex;
                flex: 5;
                flex-direction: row;
                justify-content: space-evenly;
                .radio-group {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex:1;
                    justify-content: space-around;
                    font-size: $FONT_SIZE_VERY_SMALL;
                }
            }
        }
    }
}
