@import '../../styles/font';
@import '../../styles/color';
@import '../../styles/common';

.feature {
    .header {
        background-color: $WHITE;
        border: none !important;
        .input-group {
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 1rem;
            #title {
                height: 1.6rem;
                margin-left: 1rem;
                font-size: $FONT_SIZE_SMALL;
                border-radius: 5px;
                border: 1px solid $GRAY_LIGHT;
                padding: 4px 6px 4px 6px;
            }
        }
        .title {
            margin-left: 1rem;
            display: flex;
            align-items: center;
            .text {
                margin-left: 6px;
            }
        }
        .actions {
            display: flex;
            align-items: center;
            width: 14rem;
            margin-left: 1rem;
            padding: 0;
            .submit {
                color: $PRIMARY_COLOR;
                font-size: $FONT_SIZE_SMALL;
                padding-right: 3px;
            }
            .gray-divider {
                height: 1.8rem;
                background-color: $GRAY_ALT_LIGHT;
                width: 3px;
                display: inline-block;
            }
        }
        .hide {
            display: flex;
            height: 1.6rem;
            align-items: center;
            justify-content: flex-end;
            .actions {
                padding: 0;
                justify-content: space-evey;
                width: 4rem;
                margin-right: 1rem;
                .remove {
                    display: inline-block;
                    width: 2rem;
                    height: 2rem;
                    background-image: url("assets/icons/icon-delete.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    &:hover {
                        cursor: pointer;
                        background-image: url("assets/icons/icon-delete-hover.svg");
                    }
                }
                .eye {
                    display: inline-block;
                    width: 2rem;
                    height: 2rem;
                    background-repeat: no-repeat;
                    background-position: center;
                    &:hover {
                        cursor: pointer;
                    }
                    &.gray {
                        background-image: url("assets/icons/icon-eye-hide.svg");
                    }
                    &.blue {
                        background-image: url("assets/icons/icon-eye-on.svg");
                    }
                }
            }
            .gray-divider {
                height: 1.8rem;
                background-color: $GRAY_VERY_LIGHT;
                width: 3px;
                display: inline-block;
            }
            .icon-down {
                margin-left: 1.2rem;
                margin-right: 1.2rem;
                background-image: url("assets/icons/icon-down-arrow.svg");
                display: inline-block;
                width: 2rem;
                height: 2rem;
                background-repeat: no-repeat;
                background-position: center;
                &.down {
                    background-image: url("assets/icons/icon-collapse.svg");
                    background-position: center;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .color {
            display: inline-block;
            height: 2rem;
            width: 12px;
        }
    }
}

@keyframes slideOut {
    from {
        height: 18rem;
    }
    to {
        height: 0;
    }
}
@keyframes slideIn {
    from {
        height: 0;
    }
    to {
        height: 18rem;
    }
}

.questions {
    position: relative;
    overflow: hidden;
    &.open {
        animation-name: slideIn;
        animation-duration: 1s;
        height: 18.2rem;
    }
    &.close {
        animation-name: slideOut;
        animation-duration: 1s;
        height: 0;
        padding: 0;
    }
    .shroud {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: $BLACK;
        opacity: .05;
    }
    .question {
        height: 3.6rem;
        border-bottom: 1px solid $GRAY_LIGHT;
        .factor-form {
            display: flex;
            height: 100%;
            flex-direction: row;
            .title {
                flex: 1;
                padding-left: 1rem;
                font-size: $FONT_SIZE_DEFAULT;
                display: flex;
                align-items: center;
                font-weight: 200;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .input-group {
                display: flex;
                flex: 5;
                flex-direction: row;
                justify-content: space-evenly;
                .radio-group {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex:1;
                    justify-content: space-around;
                    font-size: $FONT_SIZE_VERY_SMALL;
                }
            }
        }
    }
}
