@import '../../styles/font';
@import '../../styles/color';

.main-loader {
    width: 100%;
    height: 100%;
}
.login-loader {
    width: 100%;
    height: calc(100vh - 4rem);
    position: absolute;
    top: 3rem;
}
.login-section {
    height: 100%;
    width: 100%;
    background-image: url('assets/images/background-login.png');
    background-position: -20px 80px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .login-shroud {
        height: 100%;
        width: 100%;
        z-index: -1;
        border-radius: 5px;
        opacity: .85;
        background-color: $WHITE;
        position: absolute;
    }
    .create-user,
    .login-user{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 10;
        padding: 3rem;
    }
    .title {
        font-size: $FONT_SIZE_LARGE;
    }
    .input-group {
        margin: 8px;
    }
    .create-user {
        margin-top: 1rem;
    }
}