<section class="login-section">
    <div
        #loginForm="ngForm"
        class="login-user"
        ngForm="loginForm"
        *ngIf="!creating && !loading">
        <div class="login-shroud"></div>
        <span class="title">Crimson Spider</span>
        <div class="input-group">
            <input
                [(ngModel)]="userLogin.email"
                placeholder="user@google.com"
                required
                name="email"
                type="email"
                id="email-login">
        </div>
        <div class="input-group">
            <input
                required
                [(ngModel)]="userLogin.password"
                placeholder="********"
                name="password"
                type="password"
                id="password-login">
        </div>
        <button type="submit" [ngClass]="{'loading': loading}" (click)="loginUser()">Login</button>
        <a class="create-user" (click)="toggleCreating()">New user? Create user here</a>
    </div>
    <div
        #createForm="ngForm"
        class="create-user"
        ngForm="createForm"
        *ngIf="creating && !loading">
        <div class="login-shroud"></div>
        <span class="title">Crimson Spider</span>
        <div class="input-group">
            <input
                placeholder="user@email.com"
                [(ngModel)]="userCreate.email"
                type="email"
                name="email"
                id="email-create">
        </div>
        <div class="input-group">
            <input
                placeholder="*****"
                required
                name="password"
                [(ngModel)]="userCreate.password"
                type="password"
                id="password-create">
        </div>
        <div class="input-group">
            <input
                placeholder="*****"
                required
                name="confirm-password"
                [(ngModel)]="userCreate.confirmPassword"
                type="password"
                id="password-confirm-create">
        </div>
        <button
                type="submit"
                [ngClass]="{'loading': loading}"
                (click)="createUser()">Create User</button>
        <a class="login-user"(click)="toggleCreating()">Already an user? Login here</a>
    </div>
</section>
