@import '../../styles/font';
@import '../../styles/color';

app-spiderchart {
    display: inline-block;
}
#myChart {
    display: block;
    padding-left: 4rem;
    font-size: $FONT_SIZE_DEFAULT !important;
}
